
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(62deg, #1f3aca 0%, #e70fe7 100%);

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 40%;
    text-align: center;
}

.formulario {
    background-color: blue;
    height: 100%;
    width: 50%;
}

.resultado {
    background-color: purple;
    height: 100%;
    width: 50%;
}

.formulario-conteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}