*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.area {
  background-color: blue;
  color: rgb(0, 0, 0);
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}